@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
/* styles starts from here */
body {
  font-family: "Poppins" !important;
}

.header-parent {
  background-color: #0074BE;
}

.header-parent .contact-details {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

.header-parent .contact-details span i {
  font-size: 20px;
  padding-right: 16px;
}

.header-parent .contact-details .tel-number {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .header-parent {
    display: none;
  }
}

.menu-items li {
  padding: 0px 9px;
}

.menu-items li a {
  font-size: 18px;
  font-weight: 400;
}

.navbar-custom {
  height: 100px;
}

.main-headers {
  background-image: url(/assets/images/sudenailanding.svg);
  background-size: cover, contain;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.main-headers .main-heading .header-content h1 {
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
  color: #fff;
}

.main-headers .main-heading .header-content .captuine-text {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.second-section {
  background-color: #F3F3F3;
  padding: 30px 0px;
}

.second-section .second-section-text {
  font-weight: 800;
  font-size: 62px;
  line-height: 93px;
  color: #000084;
}

.second-section .second-section-sub {
  position: relative;
  top: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #0074BE;
}

.second-section .abountUs-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 98%;
  height: auto;
  color: #000;
}

.second-section .about-features {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #303030;
  padding-top: 30px;
}

.industrial-card {
  width: auto;
  height: 360px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  place-content: space-evenly;
  margin-bottom: 30px;
}

.industries-offer .industries-inner {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.industries {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #000084;
}

.industries-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.top-colour1 {
  border-top: 15px solid #636363 !important;
}

.blog-section {
  position: relative;
  margin-top: 50px;
}

.blog-section::after {
  content: '';
  position: absolute;
  background-image: url("/assets/images/BLOGS-S.svg");
  width: 60%;
  height: 100%;
  top: -35px;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-section .blog-bg-content {
  background-color: #000084;
  padding: 35px 0px 0px 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 85%;
  margin-right: auto;
  position: relative;
  right: 15px;
  z-index: 9999;
}

.blog-section .blog-bg-content .blog-box-content {
  padding: 0px 120px;
}

@media (max-width: 992px) {
  .blog-section .blog-bg-content .blog-box-content {
    padding: 0px 20px;
  }
}

.blog-section .blog-bg-content .blog-box-content .blog-box-text h3 {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
}

.blog-section .blog-bg-content .align-carousel {
  margin-left: 20px;
}

.blog-img .video-img {
  border-radius: 30px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-weight: 600;
  font-size: 16px;
}

.card-text {
  font-weight: 200;
}

.our-clients .clients-content {
  width: 70%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.common-heading {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #000084;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

header {
  width: 100%;
  z-index: 99;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #fff;
}

.nav-active {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.dropdown-menu.columns-3 {
  min-width: 800px;
  margin: auto;
}

.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}

@media (max-width: 991px) {
  .menu-button {
    text-align: center;
  }
  .industries ul {
    text-align: center !important;
  }
}

#more {
  display: none;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  padding: 8px 45px;
}

.navbar-nav li a:hover {
  /* color: gray !important; */
  border-bottom: 1px solid gray;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: auto;
}

.selected {
  color: #000084 !important;
  border-bottom: 3px solid gray;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.about-us h1 {
  color: #000084;
  font-size: 62px;
  font-weight: 800;
}

.top-colour2 {
  border-top: 15px solid #0074BE !important;
}

.top-colour3 {
  border-top: 15px solid #000084 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.our-clients {
  background-image: url("/assets/images/claints.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  display: none;
}

#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #000084;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}

.testimonial-content {
  background-image: url("/assets/images/test.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px;
}

.testimonial-carousel {
  background-color: #000084 !important;
  border-radius: 50px !important;
  padding: 50px;
}

@media (max-width: 767px) {
  .testimonial-carousel {
    padding: 35px 0;
  }
}

.slider-padding {
  padding: 25px 145px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider-padding {
    padding: 25px 35px;
  }
}

@media (max-width: 767px) {
  .slider-padding {
    padding: 0;
  }
}

.carousel-control-next {
  right: -145px !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-control-next {
    left: 95% !important;
  }
}

@media (max-width: 767px) {
  .carousel-control-next {
    display: none !important;
  }
}

.carousel-control-prev {
  left: -145px !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-control-prev {
    left: -65px !important;
  }
}

@media (max-width: 767px) {
  .carousel-control-prev {
    display: none !important;
  }
}

.email-bg {
  background-image: url("/assets/images/emailbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.footer-bg {
  background-color: #000084;
}

.footer-bg ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-bg ul {
  list-style: none;
}

.footer-heading {
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.fa {
  padding: 15px;
  font-size: 16px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  height: 30px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.nav-link {
  color: black !important;
}

.whats-app {
  width: 40px;
  /* background: #3498db; */
  position: fixed;
  right: 15px;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px;
  font-weight: 700;
  margin-left: 5px;
  font-size: 16px;
  text-decoration: none !important;
  /* top: 278px; */
  bottom: 0;
  height: 38px;
  border: 1px solid #25D366;
  border-radius: 5px;
}

#toTop {
  position: fixed;
  bottom: 2.7rem;
  right: 15px;
  cursor: pointer;
  display: none;
  z-index: 9999;
  bottom: 45px;
}

.top-btn {
  background: coral;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: #002e5b;
          box-shadow: #002e5b;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-contact {
  background-color: #000084;
  padding: 12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

h5 {
  color: #000084;
  font-weight: 700;
}

/* about page */
.heading-1 {
  background-image: url("/assets/images/section-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

@media (max-width: 767px) {
  .heading-1 {
    height: 180px;
  }
}

.section-3 {
  background-color: #F1F1F1;
}

/* about end */
/* services page */
.heading-2 {
  background-image: url("/assets/images/ser.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

@media (max-width: 767px) {
  .heading-2 {
    height: 110px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .heading-2 {
    height: 342px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .heading-2 {
    height: 372px;
  }
}

.carousel-control-prev-icon1 {
  background-image: url("/assets/images/arrowcircleright.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-control-prev-icon12 {
  background-image: url("/assets/images/arrowcirleleft.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* blog page styles starts here */
.blog-bg {
  background-image: url("/assets/images/blogspage.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
}

@media (max-width: 480px) {
  .blog-bg {
    height: 155px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-bg p {
    display: none;
  }
  .blog-bg h3 {
    position: relative;
    left: -45px;
    top: -45px;
  }
}

.address-content {
  background-color: #F3F3F3 !important;
  border: none !important;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

@media (min-width: 992px) {
  .dropdown-menu {
    left: -170px !important;
    top: 40px !important;
  }
}

/* page 404 styles from here */
.error-content button {
  background-color: #000084;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
}

.btn:hover {
  border: 1px solid #000;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: cursive;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #000084;
  /* margin: 20px 0; */
  border-radius: 25px;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
}

.link_404 a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .industries-img {
    width: 880px !important;
  }
}

@media (max-width: 480px) {
  .industries-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.industries-margin {
  margin: 150px 0px;
}

.industries-margin button {
  border-radius: 44px;
  border: 1px solid #152c53;
  background: #152c53;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media (max-width: 767px) {
  .industries-margin img {
    width: 80% !important;
  }
}

@media (min-width: 768px) {
  .industries-margin img {
    width: 200px !important;
  }
}

@media (max-width: 991px) {
  header {
    position: relative;
  }
}

/* @media (max-width:991px){
  .navbar-nav li a:hover{
    width: 200px;
    margin: auto;
  }
} */
@media (min-width: 992px) {
  .dropdown-menu.show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dropdown-menu.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 991px) {
  .dropdown:hover .dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
    margin: auto;
    width: 200px;
  }
}

.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0.7em;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.dropdown-menu li .dropdown-item {
  color: black;
  font-size: 1em;
  padding: 0.5em 1em;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
  background-color: pink;
}

#section2 {
  height: 600px;
}
/*# sourceMappingURL=styles.css.map */