@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@font-face {
  font-family: "Poppins";
  src: url("../Fonts_Poppins/Poppins-Black.woff2") format("woff2"), url("../Fonts_Poppins/Poppins-Black.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Black.woff2") format("woff2"), url("Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-BlackItalic.woff2") format("woff2"), url("Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraLightItalic.woff2") format("woff2"), url("Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraBoldItalic.woff2") format("woff2"), url("Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraLight.woff2") format("woff2"), url("Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-BoldItalic.woff2") format("woff2"), url("Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraBold.woff2") format("woff2"), url("Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-LightItalic.woff2") format("woff2"), url("Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Italic.woff2") format("woff2"), url("Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Light.woff2") format("woff2"), url("Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.woff2") format("woff2"), url("Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.woff2") format("woff2"), url("Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-MediumItalic.woff2") format("woff2"), url("Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBoldItalic.woff2") format("woff2"), url("Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.woff2") format("woff2"), url("Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ThinItalic.woff2") format("woff2"), url("Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Thin.woff2") format("woff2"), url("Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* styles starts from here */
body {
  font-family: "Poppins" !important;
}

header {
  width: 100%;
  z-index: 99;
  transition: background-color 0.3s ease-in-out;
  background-color: #fff;
}

.nav-active {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.dropdown-menu.columns-3 {
  min-width: 800px;
  margin: auto;
}

.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}

@media (max-width: 991px) {
  .menu-button {
    text-align: center;
  }
  .industries ul {
    text-align: center !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pagelinks {
    display: flex;
    justify-content: end;
  }
}
.contact-details {
  background-color: #0074BE;
  padding: 5px;
  color: white;
}

@media (max-width: 480px) {
  .connect-details {
    display: flex;
    justify-content: center !important;
  }
}
.main-headers {
  background-image: url("../../assets/images/mainheadersbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-heading {
    margin-top: 84px !important;
  }
}
@media (max-width: 767px) {
  .main-heading {
    margin-top: 292px !important;
  }
}
p {
  line-height: 1.7;
}

@media (max-width: 480px) {
  .header-content h1 {
    font-size: 18px !important;
    /* display: table-caption; */
    position: relative;
    top: -150px;
    /* left: -33px; */
  }
  .header-content p {
    display: none;
  }
  .header-content h5 {
    position: relative !important;
    top: -120px;
    /* left: -33px; */
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .main-headers {
    height: 680px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .main-headers {
    height: 568px;
  }
}
@media (max-width: 480px) {
  .main-headers {
    height: 240px;
    background-size: contain;
  }
}
#more {
  display: none;
}

.main-img {
  position: absolute;
  top: 12px;
  /* left: 56px; */
}

@media (max-width: 480px) {
  .main-img {
    left: 12px;
  }
}
.navbar {
  padding: 0;
}

.navbar-nav {
  padding: 8px 45px;
}

.navbar-nav li a:hover {
  /* color: gray !important; */
  border-bottom: 1px solid gray;
  height: 40px;
  transition: 0.3s;
  width: auto;
}

/* .mega-menu{
  position: absolute;
  top: 0;
} */
/* .read-more{
  border: 1px solid #000084;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #fff;
  color: #000084;
} */
.selected {
  color: #000084 !important;
  border-bottom: 3px solid gray;
  height: 40px;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .navbar-nav li a {
    border-bottom: 2px solid #fff;
  }
}
@media (max-width: 991px) {
  nav ul {
    /* background-color: #0074BE; */
    border-radius: 5px;
    margin-top: 10px;
  }
}
.collapse ul {
  font-weight: 600;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main-img {
    width: 230px;
    margin-top: -5px;
  }
}
.about-us {
  background-color: #F3F3F3;
  padding: 30px;
}

.about-us h1 {
  color: #000084;
  font-size: 62px;
  font-weight: 800;
}

@media (min-width: 1199px) {
  .navbar-collapse ul li {
    padding: 0px 10px;
  }
}
/* @media (max-width:767px){
  .about-content{
    width: 50%;
    margin: auto;
  }
} */
.top-colour {
  border-top: 15px solid #0074BE !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  transition: transform 0.2s;
}

.top-colour:hover { /* IE 9 */ /* Safari 3-8 */
  transform: scale(1.1);
}

.top-colour1 {
  border-top: 15px solid #636363 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  transition: transform 0.2s;
}

.top-colour1:hover { /* IE 9 */ /* Safari 3-8 */
  transform: scale(1.1);
}

.top-colour2 {
  border-top: 15px solid #0074BE !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  transition: transform 0.2s;
}

.top-colour2:hover { /* IE 9 */ /* Safari 3-8 */
  transform: scale(1.1);
}

.top-colour3 {
  border-top: 15px solid #000084 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  transition: transform 0.2s;
}

.top-colour3:hover { /* IE 9 */ /* Safari 3-8 */
  transform: scale(1.1);
}

.blog-section {
  background-image: url("../assets/images/blogsnewbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blog-slider {
  width: 85%;
}

.blog-bg-content {
  background-color: #000084;
  padding: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  left: -15px;
}

.blog-bg-content h3 {
  color: white;
}

.blog-img img {
  border-radius: 15px;
}

.our-clients {
  background-image: url("../assets/images/claintsss.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.industries {
  color: #000084;
}

.content {
  display: none;
}

#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #000084;
  transition: 0.3s;
  text-decoration: none;
}

#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}

.testimonial-content {
  background-image: url("../assets/images/test.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px;
}

.testimonial-carousel {
  background-color: #000084 !important;
  border-radius: 50px !important;
  padding: 50px;
}

@media (max-width: 767px) {
  .testimonial-carousel {
    padding: 35px 0;
  }
}
.slider-padding {
  padding: 25px 145px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider-padding {
    padding: 25px 35px;
  }
}
@media (max-width: 767px) {
  .slider-padding {
    padding: 0;
  }
}
.carousel-control-next {
  right: -145px !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-control-next {
    left: 95% !important;
  }
}
@media (max-width: 767px) {
  .carousel-control-next {
    display: none !important;
  }
}
.carousel-control-prev {
  left: -145px !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-control-prev {
    left: -65px !important;
  }
}
@media (max-width: 767px) {
  .carousel-control-prev {
    display: none !important;
  }
}
h3 {
  font-weight: 800 !important;
  font-size: 40px !important;
  color: #000084;
}

.email-bg {
  background-image: url("../assets/images/emailbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.footer-bg {
  background-color: #000084;
}

.footer-bg ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-bg ul {
  list-style: none;
}

.footer-heading {
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.fa {
  padding: 15px;
  font-size: 16px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  height: 30px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.card-title {
  color: #000084;
  font-weight: 700;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.nav-link {
  color: black !important;
}

.whats-app {
  width: 40px;
  /* background: #3498db; */
  position: fixed;
  right: 15px;
  z-index: 9999;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  font-weight: 700;
  margin-left: 5px;
  font-size: 16px;
  text-decoration: none !important;
  /* top: 278px; */
  bottom: 0;
  height: 38px;
  border: 1px solid #25D366;
  border-radius: 5px;
}

/* .whats-app a{
  visibility: hidden;
  opacity: 0;
  text-decoration: none !important;
} */
/* .whats-app:hover{
  width: 220px;
  transition: all .25s ease;
  text-decoration: none !important;
  a{
      visibility: visible;
      margin-left: 10px;
      color: #fff;
      opacity: 1;
      font-size: 14px;
      font-weight: 700;
      margin-left: 5px;
  }
} */
#toTop {
  position: fixed;
  bottom: 2.7rem;
  right: 15px;
  cursor: pointer;
  display: none;
  z-index: 9999;
  bottom: 45px;
}

.top-btn {
  background: coral;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: #002e5b;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  transition: 0.5s;
}

.top-btn:hover {
  /* background-image: linear-gradient(to right, #070100e7, #070300bb); */
  box-shadow: 0 0 15px black;
  color: #fff;
}

/* contact page styles starts here */
@media (min-width: 1200px) {
  .contact-img img {
    width: 745px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-img img {
    width: 545px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-img img {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .contact-img img {
    width: 295px;
  }
}
.social-contact {
  background-color: #000084;
  padding: 12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

h5 {
  color: #000084;
  font-weight: 700;
}

/* about page */
.heading-1 {
  background-image: url("../assets/images/section-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  height: 500px;
}

@media (max-width: 767px) {
  .heading-1 {
    height: 180px;
  }
}
.section-3 {
  background-color: #F1F1F1;
}

/* about end */
/* services page */
.heading-2 {
  background-image: url("../assets/images/ser.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  height: 500px;
}

@media (max-width: 767px) {
  .heading-2 {
    height: 110px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .heading-2 {
    height: 342px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .heading-2 {
    height: 372px;
  }
}
.carousel-control-prev-icon1 {
  background-image: url("../assets/images/arrowcircleright.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-control-prev-icon12 {
  background-image: url("../assets/images/arrowcirleleft.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* blog page styles starts here */
.blog-bg {
  background-image: url("../assets/images/blo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
}

@media (max-width: 480px) {
  .blog-bg {
    height: 155px;
    display: flex;
    align-items: center;
  }
  .blog-bg p {
    display: none;
  }
  .blog-bg h3 {
    position: relative;
    left: -45px;
    top: -45px;
  }
}
.address-content {
  background-color: #F3F3F3 !important;
  border: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

@media (min-width: 992px) {
  .dropdown-menu {
    left: -170px !important;
    top: 40px !important;
  }
}
/* page 404 styles from here */
.error-content button {
  background-color: #000084;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
}

.btn:hover {
  border: 1px solid #000;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: cursive;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #000084;
  /* margin: 20px 0; */
  border-radius: 25px;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
}

.link_404 a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .industries-img {
    width: 880px !important;
  }
}
@media (max-width: 480px) {
  .industries-row {
    display: flex;
    flex-direction: column-reverse;
  }
}
.industries-margin {
  margin: 150px 0px;
}

.industries-margin button {
  border-radius: 44px;
  border: 1px solid #152c53;
  background: #152c53;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
}

@media (max-width: 767px) {
  .industries-margin img {
    width: 80% !important;
  }
}
@media (min-width: 768px) {
  .industries-margin img {
    width: 200px !important;
  }
}
@media (max-width: 991px) {
  header {
    position: relative;
  }
}
/* @media (max-width:991px){
  .navbar-nav li a:hover{
    width: 200px;
    margin: auto;
  }
} */
@media (min-width: 992px) {
  .dropdown-menu.show {
    display: flex !important;
  }
}
@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }
  .dropdown-menu.show {
    display: flex;
  }
}
@media only screen and (max-width: 991px) {
  .dropdown:hover .dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
    margin: auto;
    width: 200px;
  }
}
.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0.7em;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.dropdown-menu li .dropdown-item {
  color: black;
  font-size: 1em;
  padding: 0.5em 1em;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
  background-color: pink;
}

#section2 {
  height: 600px;
} /*# sourceMappingURL=styles.css.map */