@import '../abstracts/media-queries.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/* styles starts from here */


body {
  font-family: "Poppins" !important;
}
.header-parent{
  background-color: nth($--app-blue-color,1);
  .item-align{
    @include medium-device(max-width){
      justify-content: center;
    }
  }
  .contact-details {
    color: white;
    @include flex-items;
    @include width-height(100%, 75px);
    @include small-device(max-width){
      height: 100px;
    }

    span i {
      font-size: 20px;
      padding-right: 16px;
    }
  
    .tel-number {
      margin-left: 30px;
    }
  
  }
}

.menu-items {
  li {
    padding: 0;
    @include extralarge-device(min-width){
    padding: 0px 9px;
    }
    list-style: none;
    a {
      font-size: 18px;
      font-weight: 400;
      display: inline-block;
      @include large-device(max-width){
        color: nth($--white-color,1) !important;
      }
    }
  }

}

.navbar-custom{
  height: 100px;
}

.main-headers {
  background-image: url('../../assets/images/laptop-home.webp');
  background-size: cover, contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 100vh;
  @include large-device(max-width){
    height: 76vh;
  }
  @include small-device(max-width){
    height: auto;
  }
  @include extralarge-device(max-width){
    background-position: right;
  }
  .main-heading  .header-content{
    h1{
      font-weight: 800;
      font-size: 70px;
      line-height: 86px;
      color: nth($--white-color,1);
      @include large-device(max-width){
        font-size: 35px;
        line-height: 35px;
      }
      @include small-device(max-width){
        font-size: 22px;
        line-height: 25px;
      }
    }
    .side-content{
      position: relative;
      h1:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px #5cb2de;
      }
      h1:nth-child(2) {
        position: absolute;
        top: 0;
        color: #80D0C7;
        animation: animate 4s ease-in-out infinite;
      }
    }

    .captuine-text{
      color: nth($--white-color,1);
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.nav-styles{
  height: 100px;
  @include large-device(max-width){
    height: 75px;
  }
  .nav-list{
    @include large-device(max-width){
    background-color: #0074BE;
    color: #fff;
    position: absolute;
    top: 96%;
    text-align: center;
    padding: 15px 0px;
    border-radius: 10px;
    box-shadow: #03A9F4 0px 5px, #2196F3 0px 10px, #03A9F4 0px 12px, #03A9F4 0px 15px, #2196F3 0px 19px;
    &::after{
    content: '';
    background-color: #0074BE;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    position: absolute;
    right: 18px;
    top: -4px;
    }
  }
}
}
//About Section

.second-section {
  background-color: #F3F3F3;
  padding: 30px 0px;
  .second-section-text{
    font-weight: 800;
    font-size: 62px;
    line-height: 93px;
    color: nth($--app-blue-color,3);
    @include medium-device(max-width){
      line-height: 70px;
      font-size: 42px;
    }
  }
  .second-section-sub{
    position: relative;
    top: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    color: nth($--app-blue-color,4);
  }
  .abountUs-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    @include width-height(98%, auto);
    color: nth($--black-color,1);
  }
  .about-features {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #303030;
    padding-top: 30px;
  }
}


.industrial-card{
  @include width-height(auto, 360px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: grid;
  place-content: space-evenly;
  margin-bottom: 30px;
  @include medium-device(max-width){
    text-align: center
  }
}

.industries-offer{
  .industries-inner{
    @include grid-item;
  }
}

.industries {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: nth($--app-blue-color,2);
}
.industries-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.top-colour1 {
  border-top: 15px solid #636363 !important;
}

.blog-section{
  position: relative;
  margin-top: 50px;
  &::after{
    content: '';
    position: absolute;
    background-image: url('../../assets/images/blogs-content-bg.webp');
    width: 60%;
    height: 100%;
    top: -35px;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
   }
  .blog-bg-content {
    background-color: #000084;
    padding: 35px 0px 0px 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 85%;
    margin-right: auto;
    position: relative;
    right: 15px;
    z-index: 9999;
    @include large-device(max-width){
      width: auto;
    }
    .blog-box-content{
      padding: 0px 120px;
      @include large-device(max-width){
        padding: 0px 20px; 
      }
        .blog-box-text h3{
          font-weight: 800;
          font-size: 40px;
          line-height: 60px;
          color: nth($--white-color,1);
        }
    }
    .align-carousel{
      margin-left: 20px;
    }

  }
}

.blog-img .video-img {
  border-radius: 30px;
  height: 300px;
  object-fit: cover;
}

.card-title {
  font-weight: 600;
  font-size: 16px;
}
.card-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.our-clients{
  .clients-content{
    width: 70%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px
  }
}

.common-heading{
  font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    color: #000084;
}

.card-text{
  font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.testimonial-content {
  
  background-image: url("../../assets/images/test-bg.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 911px;
  @include medium-device(max-width){
    height: auto;
    padding: 30px 0px;
    }
  @include flex-items;
  .testimonial-carousel {
    background-color: #000084 !important;
    border-radius: 50px !important;
    @include width-height(90%, auto);
    @include grid-item;
    padding: 0px 50px;
    .testimonial-text{
      height: 200px;
      @include grid-item;
      h3{
        position: relative;
        top:10px;
        @include small-device(max-width){
          font-size: 28px;
        }
      }
    }
  }

  .designation-name{
    font-weight: 800;
    font-size: 18px;
    color: #000084;
    margin-bottom: 0;

  }

}
.test-cards{

    }
.carousel-control-next , .carousel-control-prev{
  background-color: nth($--app-blue-color,2) !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 1 !important;
  border: 2px solid;
}
.carousel-control-next{
 right: -40px !important;
}
.carousel-control-prev{
left: -40px !important;
}

.accordion-item{
  border: none !important;
  .accordion-lists{
    width: 100%;
    background: #D1D1D1 !important;
    border-radius: 10px !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    text-align: left;
    padding: 20px 50px;
    span{
      color: nth($--black-color,1);
    }
  }
}


.show-collapse{
  width: 90%;
  margin: 25px auto;
  padding: 25px 25px;
  border: 3px dotted #000;
  border-radius: 20px;
}
.email-bg {
  background-image: url("../../assets/images/emailbg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  height: 250px;
  @include grid-item;
}
.form-outline input{
  border-radius: 45px 0px 0px 0px;
  &::placeholder{
    color: nth($--app-blue-color,3);
    font-weight: 500;
    position: relative;
    top:0px; 
    left: 20px
    }
}
.btn-scbscribe{
  border: 0;
  background-color: nth($--app-blue-color,2);
  color: nth($--white-color,1);
  padding: 0px 30px;
  border-radius: 0px 0px 45px 0px;
}

.footer-bg {
  .footer-grid{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
  }
  .footer-heading {
    color: white;
    font-weight: 700;
    font-size: 23px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid #fff;
  }

  .bi-chevron-right{
    padding-right: 10px;
}
}
.test-row{
  flex-wrap: nowrap !important;
}
.fa {
  padding: 15px;
  font-size: 16px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  height: 40px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.end-footer{
  height: 50px;
  @include flex-items;
  background-color: #5bcaff !important;
  @include small-device(max-width){
    height: 110px;
  }
}

.dropdown-menus{
  border:none !important;
  background-color: #0093E9 !important;
  background-image: linear-gradient(331deg, #0093E9 0%, #80D0C7 100%) !important;
  border-radius: 15px !important;
  @include extralarge-device(min-width){
    width: 60vw;
  }
  ul li  a{
    color: #fff;
    position: relative;
    &:hover{
      border: 1px solid #fff;
      border-radius: 15px;
      background-color: transparent;
      display: inline-block;
      @include large-device(max-width){
        width: auto;
      }
      &::before{
        content: "";
        width: 97%;
        height: 33px;
        background-color: #fff;
        position: absolute;
        top: 1px;
        left: 3px;
        z-index: -1;
        border-radius: 15px;
        animation: mymenu 1s infinite;

      }
     }
  }
}

@keyframes mymenu{
  0%{
    width: 40px;
    opacity: 0;
  }
  100%{
    width: 97%;
    opacity: 1;

  }
}

.hide-content{
  padding: 25px 20px;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  .plus-btn{
    position: sticky;
    top: 0;
    right: 0;
  }
}
.nav-link:hover{
  border-bottom: 2px solid #0074BE !important;
}
#loadMore {
  width: 200px;
  height: 50px;
  color: #fff;
 @include flex-items;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #000084;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 50px;
}



::-webkit-scrollbar{
  background-color: #000084;
  width: 3px;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: nth($--app-blue-color,4);
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: normal;
  position: relative;
  top: -20px;
  &.white-dot{
    background-color: #fff;
    margin-top: 16px;
  }
}

#dot-2 {
  width: 25px;
  height: 25px;
  animation-delay: 150ms;
}

#dot-3 {
  width: 20px;
  height: 20px;
  animation-delay: 300ms;
}

#dot-4 {
  width: 18px;
  height: 18px;
  animation-delay: 450ms;
}
#dot-7 {
  width: 15px;
  height: 15px;
  animation-delay: 450ms;
}
#dot-6 {
  width: 13px;
  height: 13px;
  animation-delay: 450ms;
}

@keyframes pulse {
  0% {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }

  25% {
    opacity: 0.75;
    scale: 0.75;
    filter: blur(0.25rem);
  }

  50% {
    opacity: 0.5;
    scale: 0.5;
    filter: blur(0.5rem);
  }

  75% {
    opacity: 0.25;
    scale: 0.25;
    filter: blur(0.75rem);
  }

  100% {
    opacity: 0;
    scale: 0;
    filter: blur(1rem);
  }
}

@include medium-device(max-width){
  .mobile-icons{
    display: none !important;
  }
}

.mobile-carousel{
 height: 100%;
 .carousel-caption-mobile{
  padding: 0 !important;
  bottom: 0 !important;
 }
}
.carousel-indicators{
 bottom: -44px !important;
}
@include medium-device(min-width){
  .mobile-carousel{
    display: none;
  }
}

.footer-list li {
  padding: 8px 0px;
  span + a:hover{
    display: inline-block;
    border-bottom: 1px solid #ffff !important;
  }
 }

// .carousel-pictures{
//   width: 75%;
//   margin: auto;
//   height: 300px;
// }




.carousel-mobile{
  filter: drop-shadow(5px 5px 10px black);
}
















header {
  width: 100%;
  z-index: 99;
  transition: background-color 0.3s ease-in-out;
  background-color: nth($--white-color, 1);
}

.nav-active {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}




@media (max-width: 991px) {
  .menu-button {
    text-align: center;
  }

  .industries ul {
    text-align: center !important;
  }
}









#more {
  display: none;
}



.navbar {
  padding: 0;
}

.navbar-nav {
  padding: 8px 45px;
}






.selected {
  color: #000084 !important;
  border-bottom: 3px solid gray;
  height: 40px;
  transition: 0.3s;
}





.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}




.about-us h1 {
  color: #000084;
  font-size: 62px;
  font-weight: 800;
}




// .top-colour:hover {
//   /* IE 9 */
//   /* Safari 3-8 */
//   transform: scale(1.1);
// }



// .top-colour1:hover {
//   /* IE 9 */
//   /* Safari 3-8 */
//   transform: scale(1.1);
// }

.top-colour2 {
  border-top: 15px solid #0074BE !important;
}

// .top-colour2:hover {
//   /* IE 9 */
//   /* Safari 3-8 */
//   transform: scale(1.1);
// }

.top-colour3 {
  border-top: 15px solid #000084 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  transition: transform 0.2s;
}

// .top-colour3:hover {
//   /* IE 9 */
//   /* Safari 3-8 */
//   transform: scale(1.1);
// }









.our-clients {
  background-image: url("../../assets/images/claints.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.content {
  display: none;
}



#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}




@media (max-width: 767px) {
  .testimonial-carousel {
    padding: 35px 0;
  }
}



.footer-bg {
  background-color: #000084;
}

.footer-bg ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-bg ul {
  list-style: none;
}







.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}

.nav-link {
  color: black !important;
}

.whats-app {
  width: 40px;
  /* background: #3498db; */
  position: fixed;
  right: 15px;
  z-index: 9999;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  font-weight: 700;
  margin-left: 5px;
  font-size: 16px;
  text-decoration: none !important;
  /* top: 278px; */
  bottom: 0;
  height: 38px;
  border: 1px solid #25D366;
  border-radius: 5px;
}


#toTop {
  position: fixed;
  bottom: 2.7rem;
  right: 15px;
  cursor: pointer;
  display: none;
  z-index: 9999;
  bottom: 45px;
}

.top-btn {
  background: coral;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: #002e5b;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  transition: 0.5s;
}

// .top-btn:hover {
//   /* background-image: linear-gradient(to right, #070100e7, #070300bb); */
//   box-shadow: 0 0 15px black;
//   color: #fff;
// }

.social-contact {
  background-color: #000084;
  padding: 12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

h5 {
  color: #000084;
  font-weight: 700;
}

/* about page */
.heading-1 {
  background-image: url("../../assets/images/section-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  height: 500px;
}

@media (max-width: 767px) {
  .heading-1 {
    height: 180px;
  }
}

.section-3 {
  background-color: #F1F1F1;
}

/* about end */
/* services page */
.heading-2 {
  background-image: url("../../assets/images/service-page.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  height: 500px;
}

@media (max-width: 767px) {
  .heading-2 {
    height: 110px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .heading-2 {
    height: 342px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .heading-2 {
    height: 372px;
  }
}

.carousel-control-prev-icon1 {
  background-image: url("../../assets/images/arrowcircleright.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-control-prev-icon12 {
  background-image: url("../../assets/images/arrowcirleleft.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* blog page styles starts here */
.blog-bg {
  background-image: url("../../assets/images/blogs-page.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
}

@media (max-width: 480px) {
  .blog-bg {
    height: 155px;
    display: flex;
    align-items: center;
  }

  .blog-bg p {
    display: none;
  }

  .blog-bg h3 {
    position: relative;
    left: -45px;
    top: -45px;
  }
}

.address-content {
  background-color: #F3F3F3 !important;
  border: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

@media (min-width: 992px) {
  .dropdown-menu {
    left: -170px !important;
    top: 40px !important;
  }
}

/* page 404 styles from here */
.error-content button {
  background-color: #000084;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
}



.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: cursive;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #000084;
  /* margin: 20px 0; */
  border-radius: 25px;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
}

.link_404 a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .industries-img {
    width: 880px !important;
  }
}

@media (max-width: 480px) {
  .industries-row {
    display: flex;
    flex-direction: column-reverse;
  }
}

.industries-margin {
  margin: 150px 0px;
}

.industries-margin button {
  border-radius: 44px;
  border: 1px solid #152c53;
  background: #152c53;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
}

@media (max-width: 767px) {
  .industries-margin img {
    width: 80% !important;
  }
}

@media (min-width: 768px) {
  .industries-margin img {
    width: 200px !important;
  }
}

@media (max-width: 991px) {
  header {
    position: relative;
  }
}


@media (min-width: 992px) {
  .dropdown-menu.show {
    display: flex !important;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 992px) {
  .dropdown-menus.show {
    display: flex;
  }
}

html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
  background-color: pink;
}

#section2 {
  height: 600px;
}

/*# sourceMappingURL=styles.css.map */

// testimonails carousel code
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  border-radius: 25px;
  background: rgb(155 170 231 / 59%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  .slide-content{
    margin: 0 40px;
    padding: 45px 20px;
    overflow: hidden;
    .cards-carousel{
      border-radius: 20px;
      // width: 320px;
      background-color: #ffff;
      .image-content,.card-content{
        padding: 10px 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .image-content{
        row-gap: 5px;
        position: relative;
        .overlay{
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
        }
      }
      .card-img-top{
        position: relative;
        &::after{
          content: '';
          width: 50px;
          height: 50px;
          background-image: url('../../assets/images/quote.png');
          background-repeat: no-repeat;
          background-position: center;
          background-color: #000084;
          position: absolute;
          border-radius: 50%;
          left: 27px;
          bottom: -50px;
          }
      }
      .card-image{
        .card-img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .swiper-navbtn{
    color: nth($--white-color,1);
  }
  .swiper-button-next{
    right: 15px;
  }
  .swiper-button-prev{
    left: 15px;
  }
  .swiper-pagination-bullet{
    background-color: nth($--white-color,1);
  }
}


