@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
/* styles starts from here */
body {
  font-family: "Poppins" !important;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 98%;
  height: auto;
  color: #373D3F;
}

.header-parent {
  background-color: #0074BE;
}

@media (max-width: 766px) {
  .header-parent .item-align {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-parent .contact-details {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 75px;
}

.header-parent .contact-details .connect-details a img {
  width: 35px;
}

@media (max-width: 576px) {
  .header-parent .contact-details {
    height: 100px;
  }
}

.header-parent .contact-details span i {
  font-size: 20px;
  padding-right: 16px;
}

.header-parent .contact-details .tel-number {
  margin-left: 30px;
}

@media (max-width: 991px) {
  .header-parent .contact-details .connect-details-contact {
    display: none !important;
  }
}

.card-contact {
  position: fixed;
  bottom: -10px;
  width: 100%;
  background-color: #0093E9 !important;
  background-image: linear-gradient(331deg, #0093E9 0%, #80D0C7 100%) !important;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px 15px 0px;
  margin: 10px 0px;
}

@media (min-width: 991px) {
  .card-contact {
    display: none !important;
  }
}

.card-contact span {
  position: absolute;
  border-radius: 100vmax;
}

.card-contact .top {
  top: 0;
  left: 0;
  width: 0;
  height: 7px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(rgba(255, 49, 49, 0.5)), to(#ff3131));
  background: linear-gradient(90deg, transparent 50%, rgba(255, 49, 49, 0.5), #ff3131);
}

.card-contact .bottom {
  right: 0;
  bottom: 0;
  height: 7px;
  background: -webkit-gradient(linear, left top, right top, from(#39ff14), color-stop(rgba(57, 255, 20, 0.5)), color-stop(50%, transparent));
  background: linear-gradient(90deg, #39ff14, rgba(57, 255, 20, 0.5), transparent 50%);
}

.card-contact .right {
  top: 0;
  right: 0;
  width: 7px;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(rgba(0, 255, 255, 0.5)), to(cyan));
  background: linear-gradient(180deg, transparent 30%, rgba(0, 255, 255, 0.5), cyan);
}

.card-contact .left {
  left: 0;
  bottom: 0;
  width: 7px;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff71), color-stop(rgba(255, 255, 113, 0.5)), color-stop(70%, transparent));
  background: linear-gradient(180deg, #ffff71, rgba(255, 255, 113, 0.5), transparent 70%);
}

.card-contact .top {
  -webkit-animation: animateTop 3s ease-in-out infinite;
          animation: animateTop 3s ease-in-out infinite;
}

.card-contact .bottom {
  -webkit-animation: animateBottom 3s ease-in-out infinite;
          animation: animateBottom 3s ease-in-out infinite;
}

.card-contact .right {
  -webkit-animation: animateRight 3s ease-in-out infinite;
          animation: animateRight 3s ease-in-out infinite;
}

.card-contact .left {
  -webkit-animation: animateLeft 3s ease-in-out infinite;
          animation: animateLeft 3s ease-in-out infinite;
}

@-webkit-keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }
  75% {
    opacity: 1;
    width: 100%;
  }
  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }
  75% {
    opacity: 1;
    width: 100%;
  }
  76%,
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
    height: 100%;
  }
  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
    height: 100%;
  }
  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

.client-img span {
  position: absolute;
  border-radius: 100vmax;
}

.client-img .top {
  top: 0;
  left: 0;
  width: 0;
  height: 7px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(rgba(182, 217, 238, 0.5)), to(#212dd4));
  background: linear-gradient(90deg, transparent 50%, rgba(182, 217, 238, 0.5), #212dd4);
}

.client-img .bottom {
  right: 0;
  bottom: 0;
  height: 7px;
  background: -webkit-gradient(linear, left top, right top, from(#39ff14), color-stop(rgba(57, 255, 20, 0.5)), color-stop(50%, transparent));
  background: linear-gradient(90deg, #39ff14, rgba(57, 255, 20, 0.5), transparent 50%);
}

.client-img .right {
  top: 0;
  right: 0;
  width: 7px;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(rgba(0, 255, 255, 0.5)), to(cyan));
  background: linear-gradient(180deg, transparent 30%, rgba(0, 255, 255, 0.5), cyan);
}

.client-img .left {
  left: 0;
  bottom: 0;
  width: 7px;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff71), color-stop(rgba(255, 255, 113, 0.5)), color-stop(70%, transparent));
  background: linear-gradient(180deg, #ffff71, rgba(255, 255, 113, 0.5), transparent 70%);
}

.client-img .top {
  -webkit-animation: animateTop 5s ease-in-out infinite;
          animation: animateTop 5s ease-in-out infinite;
}

.client-img .bottom {
  -webkit-animation: animateBottom 5s ease-in-out infinite;
          animation: animateBottom 5s ease-in-out infinite;
}

.client-img .right {
  -webkit-animation: animateRight 5s ease-in-out infinite;
          animation: animateRight 5s ease-in-out infinite;
}

.client-img .left {
  -webkit-animation: animateLeft 5s ease-in-out infinite;
          animation: animateLeft 5s ease-in-out infinite;
}

@media (min-width: 991px) {
  .menu-dropdown {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 991px) {
  .menu-items {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-items li {
  padding: 0;
  list-style: none;
}

@media (min-width: 1200px) {
  .menu-items li {
    padding: 0px 9px;
  }
}

.menu-items li a {
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
}

@media (max-width: 991px) {
  .menu-items li a {
    color: #fff !important;
  }
}

.navbar-custom {
  height: 100px;
}

.main-headers {
  background-image: url("../../assets/images/laptop-home.webp");
  background-size: cover, contain;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media (max-width: 576px) {
  .main-headers {
    background-image: unset;
    background-color: #616065;
  }
  .main-headers .mobile-bg {
    text-align: center;
    margin-top: -64px;
  }
}

@media (min-width: 576px) {
  .main-headers .mobile-bg {
    display: none;
  }
}

@media (max-width: 1200px) {
  .main-headers {
    background-position: right;
  }
}

@media (max-width: 576px) {
  .main-headers .main-heading .header-content {
    text-align: center;
  }
}

.main-headers .main-heading .header-content h1 {
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
  color: #fff;
}

@media (max-width: 991px) {
  .main-headers .main-heading .header-content h1 {
    font-size: 35px;
    line-height: 35px;
  }
}

.main-headers .main-heading .header-content .side-content {
  position: relative;
}

@media (max-width: 576px) {
  .main-headers .main-heading .header-content .side-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-headers .main-heading .header-content .side-content h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #5cb2de;
}

.main-headers .main-heading .header-content .side-content h1:nth-child(2) {
  position: absolute;
  top: 0;
  color: #80D0C7;
  -webkit-animation: animate 4s ease-in-out infinite;
          animation: animate 4s ease-in-out infinite;
}

.main-headers .main-heading .header-content .captuine-text {
  color: #fff;
  line-height: 24px;
}

@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@keyframes animate {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

.nav-styles {
  height: 100px;
}

@media (max-width: 991px) {
  .nav-styles {
    height: 75px;
  }
}

@media (max-width: 991px) {
  .nav-styles .nav-list {
    background-color: #0074BE;
    color: #fff;
    position: absolute;
    top: 96%;
    text-align: center;
    padding: 15px 0px;
    border-radius: 10px;
    width: 60%;
    margin-left: auto;
    right: 0;
    -webkit-box-shadow: #03A9F4 0px 5px, #2196F3 0px 10px, #03A9F4 0px 12px, #03A9F4 0px 15px, #2196F3 0px 19px;
            box-shadow: #03A9F4 0px 5px, #2196F3 0px 10px, #03A9F4 0px 12px, #03A9F4 0px 15px, #2196F3 0px 19px;
  }
  .nav-styles .nav-list::after {
    content: '';
    background-color: #0074BE;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    right: 18px;
    top: -4px;
  }
}

.second-section {
  background-color: #F3F3F3;
  padding: 30px 0px;
}

.second-section .second-section-text {
  font-weight: 800;
  font-size: 62px;
  line-height: 93px;
  color: #000084;
}

@media (max-width: 766px) {
  .second-section .second-section-text {
    line-height: 70px;
    font-size: 42px;
  }
}

.second-section .second-section-sub {
  position: relative;
  top: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #0074BE;
}

.second-section .abountUs-content {
  width: 98%;
  height: auto;
}

.second-section .about-features {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #373D3F;
  padding-top: 30px;
}

.industrial-card {
  width: auto;
  height: 360px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  place-content: space-evenly;
  margin-bottom: 30px;
}

@media (max-width: 766px) {
  .industrial-card {
    text-align: center;
  }
}

.industrial-card:hover, .industrial-card :active {
  position: relative;
  overflow: hidden;
}

.industrial-card:hover::before, .industrial-card :active::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%), linear-gradient(109.5deg, #4cddf2 11.2%, #5c79ff 91.1%), linear-gradient(109.5deg, #4cddf2 11.2%, #5c79ff 91.1%), linear-gradient(95.2deg, #adfcea 26.8%, #c0e5f6 64%);
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

.industrial-card:hover::after, .industrial-card :active::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
  -webkit-animation: opacityChange 3s infinite alternate;
          animation: opacityChange 3s infinite alternate;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.industries-offer .industries-inner {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.industries {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #000084;
}

@media (min-width: 320px) and (max-width: 375px) {
  .industries {
    font-size: 35px;
    line-height: 50px;
  }
}

@media (max-width: 576px) {
  .industries-text {
    width: 100%;
    padding: 0 40px;
  }
}

.blog-section {
  position: relative;
  margin-top: 50px;
  background-image: url("../../assets/images/blogg.svg");
  width: 100% !important;
  height: 100%;
  padding: 30px 0px;
  background-position: center;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-size: cover;
}

@media (max-width: 991px) {
  .blog-section {
    height: auto;
  }
}

.blog-section .blog-bg-content {
  background-color: #000084;
  padding: 35px 0px 0px 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 85%;
  margin-right: auto;
  position: relative;
  right: 15px;
}

@media (max-width: 991px) {
  .blog-section .blog-bg-content {
    width: auto;
  }
}

.blog-section .blog-bg-content .blog-box-content {
  padding: 0px 120px;
}

@media (max-width: 991px) {
  .blog-section .blog-bg-content .blog-box-content {
    padding: 0px 20px;
  }
}

.blog-section .blog-bg-content .blog-box-content .blog-box-text h3 {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
}

.blog-section .blog-bg-content .align-carousel {
  margin-left: 20px;
}

.blog-img .video-img {
  border-radius: 30px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-weight: 600;
  font-size: 18px;
}

.card-text {
  line-height: 24px;
}

.our-clients .clients-content {
  width: 70%;
  line-height: 24px;
}

.common-heading {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #000084;
}

.card-text {
  font-size: 16px;
  line-height: 24px;
}

.testimonial-content {
  background-image: url("../../assets/images/test-bg.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 911px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 766px) {
  .testimonial-content {
    height: auto;
    padding: 30px 0px;
  }
}

.testimonial-content .testimonial-carousel {
  background-color: #000084 !important;
  border-radius: 50px !important;
  width: 90%;
  height: auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 0px 50px;
}

.testimonial-content .testimonial-carousel .testimonial-text {
  height: 200px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.testimonial-content .testimonial-carousel .testimonial-text h3 {
  position: relative;
  top: 10px;
}

@media (max-width: 576px) {
  .testimonial-content .testimonial-carousel .testimonial-text h3 {
    font-size: 28px;
  }
}

.testimonial-content .designation-name {
  font-weight: 800;
  font-size: 18px;
  color: #000084;
  margin-bottom: 0;
}

.carousel-control-next, .carousel-control-prev {
  background-color: #000084 !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 1 !important;
  border: 2px solid;
}

.carousel-control-next {
  right: -40px !important;
}

.carousel-control-prev {
  left: -40px !important;
}

.accordion-item {
  border: none !important;
}

.accordion-item .accordion-lists {
  width: 100%;
  background: #D1D1D1 !important;
  border-radius: 10px !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  text-align: left;
  padding: 20px 50px;
}

.accordion-item .accordion-lists span {
  color: #000;
}

.show-collapse {
  width: 90%;
  margin: 25px auto;
  border: 3px dotted #000;
  border-radius: 20px;
}

.email-bg {
  background-image: url("../../assets/images/emailbg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  height: 250px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.form-outline input {
  border-radius: 45px 0px 0px 0px;
}

.form-outline input::-webkit-input-placeholder {
  color: #000084;
  font-weight: 500;
  position: relative;
  top: 0px;
  left: 20px;
}

.form-outline input:-ms-input-placeholder {
  color: #000084;
  font-weight: 500;
  position: relative;
  top: 0px;
  left: 20px;
}

.form-outline input::-ms-input-placeholder {
  color: #000084;
  font-weight: 500;
  position: relative;
  top: 0px;
  left: 20px;
}

.form-outline input::placeholder {
  color: #000084;
  font-weight: 500;
  position: relative;
  top: 0px;
  left: 20px;
}

.form-outline-inputs input::-webkit-input-placeholder {
  color: #000084;
  font-weight: 500;
  font-size: 16px;
}

.form-outline-inputs input:-ms-input-placeholder {
  color: #000084;
  font-weight: 500;
  font-size: 16px;
}

.form-outline-inputs input::-ms-input-placeholder {
  color: #000084;
  font-weight: 500;
  font-size: 16px;
}

.form-outline-inputs input::placeholder {
  color: #000084;
  font-weight: 500;
  font-size: 16px;
}

.btn-scbscribe {
  border: 0;
  background-color: #000084;
  color: #fff;
  padding: 0px 30px;
  border-radius: 0px 0px 45px 0px;
}

.footer-bg .footer-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-bg .footer-heading {
  color: white;
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

.footer-bg .bi-chevron-right {
  padding-right: 10px;
}

.test-row {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.fa {
  padding: 15px;
  font-size: 16px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  height: 40px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.end-footer {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5bcaff !important;
}

@media (max-width: 576px) {
  .end-footer {
    height: 110px;
  }
}

.dropdown-menus {
  border: none !important;
  background-color: #0093E9 !important;
  background-image: linear-gradient(331deg, #0093E9 0%, #80D0C7 100%) !important;
  border-radius: 15px !important;
}

@media (min-width: 1200px) {
  .dropdown-menus {
    width: calc(100vw - 40vw);
  }
}

.dropdown-menus ul li a {
  color: #fff;
  position: relative;
}

.dropdown-menus ul li a:hover {
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: transparent;
  display: inline-block;
}

@media (max-width: 991px) {
  .dropdown-menus ul li a:hover {
    width: auto;
  }
}

.dropdown-menus ul li a:hover::before {
  content: "";
  width: 97%;
  height: 33px;
  background-color: #fff;
  position: absolute;
  top: 1px;
  left: 3px;
  z-index: -1;
  border-radius: 15px;
  -webkit-animation: mymenu 1s infinite;
          animation: mymenu 1s infinite;
}

@-webkit-keyframes mymenu {
  0% {
    width: 40px;
    opacity: 0;
  }
  100% {
    width: 97%;
    opacity: 1;
  }
}

@keyframes mymenu {
  0% {
    width: 40px;
    opacity: 0;
  }
  100% {
    width: 97%;
    opacity: 1;
  }
}

.hide-content {
  padding: 25px 20px;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.hide-content .plus-btn {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
}

.nav-link:hover {
  border-bottom: 2px solid #0074BE !important;
}

#loadMore {
  width: 200px;
  height: 50px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #000084;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 50px;
}

::-webkit-scrollbar {
  background-color: #000084;
  width: 3px;
  border-radius: 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0074BE;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  position: relative;
  top: -20px;
}

.dot.white-dot {
  background-color: #fff;
  margin-top: 16px;
}

#dot-2 {
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

#dot-3 {
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

#dot-4 {
  width: 18px;
  height: 18px;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

#dot-7 {
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

#dot-6 {
  width: 13px;
  height: 13px;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    scale: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  25% {
    opacity: 0.75;
    scale: 0.75;
    -webkit-filter: blur(0.25rem);
            filter: blur(0.25rem);
  }
  50% {
    opacity: 0.5;
    scale: 0.5;
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
  }
  75% {
    opacity: 0.25;
    scale: 0.25;
    -webkit-filter: blur(0.75rem);
            filter: blur(0.75rem);
  }
  100% {
    opacity: 0;
    scale: 0;
    -webkit-filter: blur(1rem);
            filter: blur(1rem);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    scale: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  25% {
    opacity: 0.75;
    scale: 0.75;
    -webkit-filter: blur(0.25rem);
            filter: blur(0.25rem);
  }
  50% {
    opacity: 0.5;
    scale: 0.5;
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
  }
  75% {
    opacity: 0.25;
    scale: 0.25;
    -webkit-filter: blur(0.75rem);
            filter: blur(0.75rem);
  }
  100% {
    opacity: 0;
    scale: 0;
    -webkit-filter: blur(1rem);
            filter: blur(1rem);
  }
}

@media (max-width: 766px) {
  .mobile-icons {
    display: none !important;
  }
}

.mobile-carousel {
  height: 100%;
}

.mobile-carousel .carousel-caption-mobile {
  padding: 0 !important;
  bottom: 0 !important;
}

.carousel-indicators {
  bottom: -44px !important;
}

@media (min-width: 766px) {
  .mobile-carousel {
    display: none;
  }
}

.footer-list li {
  padding: 8px 0px;
}

.footer-list li span + a:hover {
  display: inline-block;
  border-bottom: 1px solid #ffff !important;
}

.reach-btn {
  height: 55px;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.footerstyle {
  position: relative;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animatefooter 25s linear infinite;
          animation: animatefooter 25s linear infinite;
  bottom: -200px;
  border-radius: 50%;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  border-radius: 50%;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  border-radius: 50%;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  border-radius: 50%;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  border-radius: 50%;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  border-radius: 50%;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  border-radius: 50%;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  border-radius: 50%;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  border-radius: 50%;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
  border-radius: 50%;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  border-radius: 50%;
}

@-webkit-keyframes animatefooter {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animatefooter {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

header {
  width: 100%;
  z-index: 99;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #fff;
}

.nav-active {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media (max-width: 991px) {
  .menu-button {
    text-align: center;
  }
  .industries ul {
    text-align: center !important;
  }
}

#more {
  display: none;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  padding: 8px 45px;
}

.selected {
  color: #000084 !important;
  border-bottom: 3px solid gray;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.about-us h1 {
  color: #000084;
  font-size: 62px;
  font-weight: 800;
}

@media (max-width: 576px) {
  .clients-details {
    display: none;
  }
}

.our-clients {
  position: relative;
}

.our-clients::after {
  content: "";
  background-image: url(../../assets/images/Group87.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: contain;
  background-position-y: center;
}

@media (max-width: 766px) {
  .our-clients::after {
    display: none;
  }
}

.our-clients::before {
  content: "";
  background-image: url(../../assets/images/Group86.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: contain;
  background-position-y: center;
  background-position-x: right;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@media (max-width: 766px) {
  .our-clients::before {
    display: none;
  }
}

@-webkit-keyframes imghide {
  20%, 100% {
    opacity: 1;
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    -webkit-transform: translate(-30px, 70px);
            transform: translate(-30px, 70px);
  }
}

@keyframes imghide {
  20%, 100% {
    opacity: 1;
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    -webkit-transform: translate(-30px, 70px);
            transform: translate(-30px, 70px);
  }
}

@-webkit-keyframes imgshow {
  20%, 100% {
    opacity: 1;
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    -webkit-transform: translate(-50px, -10px);
            transform: translate(-50px, -10px);
  }
}

@keyframes imgshow {
  20%, 100% {
    opacity: 1;
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    -webkit-transform: translate(-50px, -10px);
            transform: translate(-50px, -10px);
  }
}

.content {
  display: none;
}

#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}

@media (max-width: 767px) {
  .testimonial-carousel {
    padding: 35px 0;
  }
}

.footer-bg {
  background-color: #000084;
}

.footer-bg ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-bg ul {
  list-style: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.nav-link {
  color: black !important;
}

.whats-app {
  width: 40px;
  /* background: #3498db; */
  position: fixed;
  right: 15px;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px;
  font-weight: 700;
  margin-left: 5px;
  font-size: 16px;
  text-decoration: none !important;
  /* top: 278px; */
  bottom: 15%;
  height: 38px;
  border: 1px solid #25D366;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .whats-app {
    bottom: 23%;
  }
}

#toTop {
  position: fixed;
  bottom: 2.7rem;
  right: 15px;
  cursor: pointer;
  display: none;
  z-index: 9999;
  bottom: 30;
}

@media (max-width: 991px) {
  #toTop {
    bottom: 70px;
  }
}

.top-btn {
  background: coral;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: #002e5b;
          box-shadow: #002e5b;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-contact {
  background-color: #000084;
  padding: 12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

h5 {
  color: #000084;
  font-weight: 700;
}

/* about page */
.heading-1 {
  background-image: url("../../assets/images/section-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

@media (max-width: 767px) {
  .heading-1 {
    height: 180px;
  }
}

.section-3 {
  background-color: #F1F1F1;
}

/* about end */
/* services page */
.heading-2 {
  background-image: url("../../assets/images/service-page.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

@media (max-width: 767px) {
  .heading-2 {
    height: 110px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .heading-2 {
    height: 342px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .heading-2 {
    height: 372px;
  }
}

.carousel-control-prev-icon1 {
  background-image: url("../../assets/images/arrowcircleright.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-control-prev-icon12 {
  background-image: url("../../assets/images/arrowcirleleft.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* blog page styles starts here */
.blog-bg {
  background-image: url("../../assets/images/blogs-page.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
}

@media (max-width: 480px) {
  .blog-bg {
    height: 155px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-bg p {
    display: none;
  }
  .blog-bg h3 {
    position: relative;
    left: -45px;
    top: -45px;
  }
}

.address-content {
  background-color: #F3F3F3 !important;
  border: none !important;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

@media (min-width: 992px) {
  .dropdown-menu {
    left: -170px !important;
    top: 40px !important;
  }
}

/* page 404 styles from here */
.error-content button {
  background-color: #000084;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: cursive;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #000084;
  /* margin: 20px 0; */
  border-radius: 25px;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
}

.link_404 a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .industries-img {
    width: 880px !important;
  }
}

@media (max-width: 480px) {
  .industries-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.industries-margin {
  margin: 45px 0px;
}

.industries-margin button {
  border-radius: 44px;
  border: 1px solid #152c53;
  background: #152c53;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media (max-width: 767px) {
  .industries-margin img {
    width: 80% !important;
  }
}

@media (min-width: 768px) {
  .industries-margin img {
    width: 200px !important;
  }
}

@media (max-width: 991px) {
  header {
    position: relative;
  }
}

.dropdown:hover.dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 992px) {
  .dropdown-menu.show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    top: 97px !important;
  }
  .dropdown:hover .dropdown-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    top: 97px !important;
  }
}

@media only screen and (min-width: 992px) {
  .dropdown-menus.show {
    display: block;
  }
}

html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
  background-color: pink;
}

#section2 {
  height: 600px;
}
.slide-container-clients {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  border-radius: 25px;
  background: #000084;
  border-radius: 16px;
}

.slide-container-clients .slide-content-clients {
  margin: 0 40px;
  padding: 45px 20px;
  overflow: hidden;
}

.slide-container-clients .slide-content-clients .cards-carousel {
  border-radius: 20px;
  height: 100%;
}

.slide-container-clients .slide-content-clients .cards-carousel .image-content {
  padding: 10px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5px;
  position: relative;
}

.slide-container-clients .slide-content-clients .cards-carousel .image-content .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.slide-container-clients .slide-content-clients .cards-carousel .card-image .card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-container-clients .swiper-navbtn {
  color: #000084;
}

.slide-container-clients .swiper-button-next {
  right: 15px;
}

.slide-container-clients .swiper-button-prev {
  left: 15px;
}

.slide-container-clients .swiper-pagination-bullet {
  background-color: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .clients-mobile-view {
    display: block;
  }
}

@media (min-width: 768px) {
  .clients-mobile-view {
    display: none !important;
  }
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.34);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.slide-container .slide-content {
  margin: 0 40px;
  padding: 45px 20px;
  overflow: hidden;
}

.slide-container .slide-content .cards-carousel {
  border-radius: 20px;
  background-color: #ffff;
  height: 100%;
  text-align: center;
}

.slide-container .slide-content .cards-carousel .image-content, .slide-container .slide-content .cards-carousel .card-content {
  padding: 10px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-container .slide-content .cards-carousel .card-content .descriptions {
  line-height: 24px;
}

.slide-container .slide-content .cards-carousel .image-content {
  row-gap: 5px;
  position: relative;
}

.slide-container .slide-content .cards-carousel .image-content .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.slide-container .slide-content .cards-carousel .card-img-top {
  position: relative;
}

.slide-container .slide-content .cards-carousel .card-img-top::after {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url("../../assets/images/quote.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000084;
  position: absolute;
  border-radius: 50%;
  left: 27px;
  bottom: -50px;
}

.slide-container .slide-content .cards-carousel .card-image .card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-container .swiper-navbtn {
  color: #fff;
}

.slide-container .swiper-button-next {
  right: 15px;
}

.slide-container .swiper-button-prev {
  left: 15px;
}

.slide-container .swiper-pagination-bullet {
  background-color: #fff;
}

.align-card-postion {
  position: relative;
  top: 30px;
}

.slide-container-services {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  border-radius: 25px;
  border-radius: 16px;
}

.slide-container-services .slide-content-services {
  margin: 0 40px;
  padding: 45px 20px;
  overflow: hidden;
}

.slide-container-services .slide-content-services .cards-carousel-services {
  border-radius: 20px;
  padding: 20px 0;
  background-color: #ffff;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.slide-container-services .slide-content-services .cards-carousel-services .image-content, .slide-container-services .slide-content-services .cards-carousel-services .card-content {
  padding: 10px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slide-container-services .slide-content-services .cards-carousel-services .image-content {
  row-gap: 5px;
  position: relative;
}

.slide-container-services .slide-content-services .cards-carousel-services .image-content .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.slide-container-services .swiper-navbtn {
  color: #000084;
}

.slide-container-services .swiper-button-next {
  right: 15px;
}

.slide-container-services .swiper-button-prev {
  left: 15px;
}

.slide-container-services .swiper-pagination-bullet {
  background-color: #000084;
}

.headers {
  position: relative;
  text-align: center;
  background-color: #0093E9 !important;
  background-image: linear-gradient(331deg, #0093E9 0%, #80D0C7 100%) !important;
  color: white;
}

.inner-headers {
  height: 20vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  h1 {
    font-size: 24px;
  }
}

.wrappers div {
  height: 60px;
  width: 60px;
  border: 2px solid #000084;
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-animation: 4s linear infinite;
          animation: 4s linear infinite;
}

.wrappers div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff !important;
  position: absolute;
  top: 20%;
  right: 20%;
}

.wrappers div:nth-child(1) {
  top: 20%;
  left: 20%;
  -webkit-animation: animateing 8s linear infinite;
          animation: animateing 8s linear infinite;
}

.wrappers div:nth-child(2) {
  top: 60%;
  left: 8%;
  -webkit-animation: animateing 10s linear infinite;
          animation: animateing 10s linear infinite;
}

.wrappers div:nth-child(3) {
  top: 40%;
  left: 4%;
  -webkit-animation: animateing 3s linear infinite;
          animation: animateing 3s linear infinite;
}

.wrappers div:nth-child(4) {
  top: 66%;
  left: 3%;
  -webkit-animation: animateing 7s linear infinite;
          animation: animateing 7s linear infinite;
}

.wrappers div:nth-child(5) {
  top: 70%;
  left: 11%;
  -webkit-animation: animateing 9s linear infinite;
          animation: animateing 9s linear infinite;
}

.wrappers div:nth-child(6) {
  top: 30%;
  left: 12%;
  -webkit-animation: animateing 5s linear infinite;
          animation: animateing 5s linear infinite;
}

.wrappers div:nth-child(7) {
  top: 50%;
  left: 15%;
  -webkit-animation: animateing 8s linear infinite;
          animation: animateing 8s linear infinite;
}

.wrappers div:nth-child(8) {
  top: 45%;
  left: 10%;
  -webkit-animation: animateing 10s linear infinite;
          animation: animateing 10s linear infinite;
}

.wrappers div:nth-child(9) {
  top: 50%;
  left: 15%;
  -webkit-animation: animateing 6s linear infinite;
          animation: animateing 6s linear infinite;
}

.wrappers div:nth-child(10) {
  top: 45%;
  left: 2%;
  -webkit-animation: animateing 10s linear infinite;
          animation: animateing 10s linear infinite;
}

.wrappers div:nth-child(12) {
  top: 20%;
  left: 10%;
  -webkit-animation: animateing 7s linear infinite;
          animation: animateing 7s linear infinite;
}

.wrappers div:nth-child(13) {
  top: 20%;
  left: 2%;
  -webkit-animation: animateing 8s linear infinite;
          animation: animateing 8s linear infinite;
}

.wrappers div:nth-child(14) {
  top: 60%;
  left: 5%;
  -webkit-animation: animateing 6s linear infinite;
          animation: animateing 6s linear infinite;
}

.wrappers div:nth-child(15) {
  top: 70%;
  left: 8%;
  -webkit-animation: animateing 9s linear infinite;
          animation: animateing 9s linear infinite;
}

@-webkit-keyframes animateing {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(70deg);
            transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    -webkit-transform: scale(1.3) translateY(-100px) rotate(360deg);
            transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

@keyframes animateing {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(70deg);
            transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    -webkit-transform: scale(1.3) translateY(-100px) rotate(360deg);
            transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

.grid-align {
  display: -ms-grid;
  display: grid;
}
/*# sourceMappingURL=styles.css.map */