@mixin flex-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin width-height($width, $height){
    width: $width;
    height: $height;
}

@mixin grid-item{
    display: grid;
    place-content: center;
}
@mixin paragraph-styles{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 98%;
    height: auto;
    color: nth($--black-color,5);
}
